ABACATEPAY_API_KEY=abc_dev_substitua_pela_sua_chave
ASAAS_API_KEY=sua_chave_sandbox_asaas
ASAAS_CUSTOMER_ID=seu_cliente_sandbox_asaas
ASAAS_BASE_URL=https://api-sandbox.asaas.com/v3
DATABASE_URL=postgresql://usuario:senha@localhost:5432/gerador_cobranca?schema=public
