ABACATEPAY_API_KEY=abc_dev_substitua_pela_sua_chave
ASAAS_API_KEY=sua_chave_sandbox_asaas
PAYMENT_PROVIDER=ABACATEPAY
ASAAS_BASE_URL=https://api-sandbox.asaas.com/v3
ASAAS_CUSTOMER_ID=cus_seu_cliente
DATABASE_URL=postgresql://usuario:senha@localhost:5432/gerador_cobranca?schema=public
